* {
  margin: 0;
  padding: 0;
}
.app {
  background-color: whitesmoke;
}
.app-name {
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  font-style: italic;
}

.foodsearch_btn {
  font-size: 1.5rem;
  background-color: black;
  padding: 0.3rem 2rem;
  color: white;
  border: 2px solid whitesmoke;
  border-radius: 0 1.5rem 1.5rem 0;
}

.search_input {
  padding: 0.2rem;
  font-size: 1.4rem;
  background-color: whitesmoke; /*rgba(238, 234, 236, 0.8); */
  width: 50%;
  border: 2px solid black;
  border-radius: 1.3rem 0 0 1.3rem;
}

.home-content {
  display: flex;
}
.nav-link {
  color: white !important;
  background: transparent;
  font-size: large;
  font-weight: 600;
  outline: none;
  border: none;
}

.logout-btn {
  background-color: transparent;
  outline: none;
  border: none;
}

.card-img-top {
  height: 60%;
}
.card-text {
  font-size: small;
}
.add-btn {
  background-color: transparent;
  border: 1px solid yellowgreen;
  padding: 5px 15px;
  border-radius: 5px;
  color: #60b246;
  font-weight: bold;
}
.add-btn:hover {
  box-shadow: 1px 1px yellowgreen;
  transform: scale(1.1);
  transition: 0.2s;
}
.menu-img {
  height: 7rem;
  width: 10rem;
}
.rest-img {
  height: 200px;
  width: 200px;
  margin: 10px;
}
.menu-cart {
  display: flex;
  justify-content: end;
}

.hamberger-menu {
  display: none;
  cursor: pointer;
}
.menu-title {
  font-weight: bold;
}
.mobile-username {
  display: none;
}
.mobile-show {
  display: none;
}

/* .cart-btn:focus {
  box-shadow: none !important;
} */

@media (max-width: 998px) {
  .search_input {
    font-size: 1rem;
    width: 70%;
  }
  .foodsearch_btn {
    font-size: 1.1rem;
  }
  .main-nav {
    display: none;
  }
  .show-main-menu {
    display: block;
  }
  .home-content {
    display: grid !important;
  }
  .menu-img {
    height: 85px;
    width: 85px;
    margin: 5px;
  }
  .add-btn {
    font-weight: bold;
    padding: 5px 7px;
    margin-top: 0px;
  }
  .hamberger-menu {
    display: flex !important;
    justify-content: end !important;
    margin-right: 5px;
    font-size: xx-large;
  }
  .menu-icon {
    margin-top: 5px;
    border: 1px solid white;
  }
  .menu-container {
    justify-content: space-around !important;
    position: relative;
    right: 19px;
  }
  .nav-menu {
    position: absolute !important;
    display: grid !important;
    right: 24px;
    list-style: none;
    background-color: hsla(0, 0%, 0%, 0.5);
    top: 31px;
    padding: 0px 15px;
  }
  .mobile-showoff {
    display: none;
  }
  .mobile-show {
    display: block;
  }
  .mobile-username {
    display: block;
    position: absolute;
    top: 3px;
    border: 1px solid;
    border-radius: 5px;
    right: 50px;
    padding: 2px 0 2px 1px;
  }
  .header-container {
    position: sticky;
    top: 0;
    z-index: 10;
    height: 20% !important;
  }
  .table {
    font-size: smaller;
  }
}
@media (max-width: 400px) {
  .table {
    font-size: x-small;
  }
}
